* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
	background-color: black;
}

.wrapper {
	height: 40rem;
	margin: 10em auto 0;
	width: 60rem;
}

input {
	display: none;
}

.slides-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider {
	height: inherit;
  display: flex;
}

.slides {
	height: inherit;
	width: 60rem;
  flex-shrink: 0;
}

.wrapper .controls {
	margin-right: -20rem;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 1rem;
	margin: 1rem;
	width: 1rem;
	border-radius: 50%;
  background-color: rgb(159, 233, 221);
}

.wrapper label:hover {
	background:  rgb(76, 156, 143);
}

#slide1:checked ~ .bottom-slider .controls label:nth-of-type(1),
#slide2:checked ~ .bottom-slider .controls label:nth-of-type(2),
#slide3:checked ~ .bottom-slider .controls label:nth-of-type(3),
#slide4:checked ~ .bottom-slider .controls label:nth-of-type(4),
#slide5:checked ~ .bottom-slider .controls label:nth-of-type(5) {
	background:  rgb(27, 71, 64);
}

.slider {
	transition: transform ease-out .5s, opacity ease-out .5s;
}

#slide1:checked ~ .slides-wrapper > .slider {
  transform: translateX(0);
}

#slide2:checked ~ .slides-wrapper > .slider {
  transform: translateX(-60rem);
}

#slide3:checked ~ .slides-wrapper > .slider {
  transform: translateX(-120rem);
}

#slide4:checked ~ .slides-wrapper > .slider {
  transform: translateX(-180rem);
}

#slide5:checked ~ .slides-wrapper > .slider {
  transform: translateX(-240rem);
}

.bottom-slider {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.text-slider {
  color: rgb(159, 233, 221);
  overflow: hidden;
  font-size: 2rem;
  text-align: right;
}

.slide-title {
  height: 0;
  opacity: 0;
  transition: all ease-out .5s;
}

#slide1:checked ~ .bottom-slider .title1,
#slide2:checked ~ .bottom-slider .title2,
#slide3:checked ~ .bottom-slider .title3,
#slide4:checked ~ .bottom-slider .title4,
#slide5:checked ~ .bottom-slider .title5
{
  height: 3rem;
  opacity: 1;
}